* {
	padding: 1px;
	margin: 1px;
	font-family: Open Sans;
}

nav {
	position: sticky;
	font-weight: bold;
	background-color: white;
	top: 0;
	border-bottom: 1px solid lightgray;
}

.nav-logo {
	padding-left: 5%;
}

.right-nav {
	float: right;
	padding-right: 5%;
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	border: 0;
	border-radius: 20px;
	padding: 10px 15px;
	font-weight: bold;
}

li {
	display: inline-block;
	padding-inline: 7px;
}

ul {
	list-style-type: none;
}

#bg-image {
	min-height: 55vh;
    background-color: lightgray;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg
);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -280px;
    background-attachment: scroll;
}

.front-bg {
	background: rgba(0, 0, 0, .5);
	min-height: 55vh;
}

.container {
	padding-right: 6%;
}

.title {
	font-family: Zilla Slab;
	font-size: 40px;
	color: white;
	display: block;
	text-align: right;
	padding-left: 50%;
}

.subtitle {
	font-size: 20px;
	font-weight: normal;
	color: white;
	display: block;
	text-align: right;
	padding-left: 67%;
	margin-top: 15px;
}

.apply-button {
	background-color: #c2195b;
	color: white;
	border: 0;
	border-radius: 20px;
	padding: 10px 50px;
	font-weight: bold;
	float: right;
	margin-top: 10px;
}

.title-2 {
	font-family: Zilla Slab;
	text-align: center;
	font-size: 30px;
	margin-top: 5%;
}

.intro-description {
	text-align: justify;
	font-size: 15px;
	margin-top: 5%;
	padding-right: 14%;
	padding-left: 14%;
}

.pre-footer {
	background-color: #f7fbfb;
	margin-top: 5%;
	text-align: center;
	padding-bottom: 10%;
}

.prefooter-description {
	text-align: center;
	font-size: 15px;
	margin-top: 3%;
	padding-right: 14%;
	padding-left: 14%;
}

.book-button {
	background-color: #336589;
	color: white;
	border: 0;
	border-radius: 20px;
	padding: 10px 50px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	margin-top: 1%;
}
